@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #090909;
    font-family: "Inter" ,Arial, Helvetica, sans-serif;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

main {
    width: 88%;
    margin: 0 auto;
    margin-top: 90px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}

#section1 > div > h1 {
    font-size: 3.5rem;
    max-width: 60%;
    flex-grow: 1;
    padding-bottom: 15px;
}

#section1 > div > p {
    max-width: 600px;
    color: lightgray;
    font-size: 1.3rem;
    padding-bottom: 30px;
}

#mao-robotica {
    width: 575px;
    padding-right: 25px;
}

#section2 {
    padding-right: 10rem;
    margin: 110px 0 50px 0;
}

#section2-display {
    justify-content: center;
    justify-items: center;
    display: flex;
    gap: 65px;
}

.section-img1 {
    width: 400px;
    height: 50%;
    border: 1px solid rgba(122, 122, 122, 0.288);
    border-radius: 15px;
}

.section-span1 {
    display: flex;
    align-items: center;
    gap: 165px;
}

.section-span1 > span {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #ff0051;
}

#section2 > div > .section-img1 {
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    transition: padding 0.2s ease;
}

#section2 > div > .section-img1 > .section-span1 > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
    padding: 20px;
}

.section-img1 > img {
    width: 400px;
}

#section2 > div > .section-img1 > p {
    text-align: center;
    color: lightgray;
    font-size: 0.85rem;
    padding: 15px;
}

.section2-action1, .section2-action2, .section2-action3 {
    display: flex;
}

.section2-action1 > a, .section2-action2 > a, .section2-action3 > a {
    text-align: center;
    color: #ff0051;
    border: 1px solid #ff0051;
    font-weight: 800;
    text-decoration: none;
    width: 50%;
    padding: 10px 15px;
    margin: 15px auto;
    border-radius: 5px;
    transition: padding 0.3s ease-out, background-color 0.4s ease;
}

.section2-action1 > a:hover, .section2-action2 > a:hover, .section2-action3 > a:hover {
    color: white;
    background-color: #ff0051;
}

#section3 {
    margin-top: 10rem;
    width: 35%;
    padding: 3rem;
}

#section3 div > h2 {
    text-align: center;
    font-size: 1.3rem;
    color: #ff0051;
}

#section3 div > h3 {
    text-align: center;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 0.2rem;
}

#section3 div > p {
    text-align: left;
    padding-left: 5rem;
    color: lightgray;
    padding-top: 2.5rem;
    font-size: 1rem;
}

#section4 {
    margin-top: 14rem;
}

#section4 > div > h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: center;
}

#section4-box {
    padding: 45px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(119, 119, 119, 0.267);
    border-radius: 25px;
}

#section4-conteudo {
    width: 70%;
    padding-right: 5.2rem;
}

#section4-conteudo > p {
    font-size: 1rem;
    padding: 0.7rem;
    padding-top: 1.1rem;
}

#section4-conteudo > a {
    width: 40%;
    margin: left auto;
    margin-left: 10px;
    margin-top: 1.5rem;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #ff0051;
    border: 1px solid #ff0051;
    border-radius: 5px;
    transition: padding 0.3s ease-out, background-color 0.4s ease;
}

#section4-conteudo > a:hover {

    color: white;
    background-color: #ff0051;
}

#section4-box > div > img {
    border-radius: 25px;
    width: 60rem;
}

#paragrafo-maior {
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: 200;
    font-size: 2.2rem;
}

.section4-destaque-p {
    color: #ff2d6f;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    font-size: 15px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    font-size: 15px;
    color: #ff0051;
    padding: 11px 25px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}

#titulo-text {
    margin-bottom: 5em;
    width: 400px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

#actions-titulo {
    position: relative;
    bottom: 55px;
}

/* TIPOGRAFIA */

h1, h2 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.6rem;
}

h3, h4, h5 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8rem;
}

p {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: lightgray;
    font-size: 0.8rem;
}


