@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #090909;
    font-family: "Inter" ,Arial, Helvetica, sans-serif;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

main {
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}

#section1 > div > h1 {
    font-size: 3.5rem;
    max-width: 60%;
    flex-grow: 1;
    padding-bottom: 15px;
}

#section1 > div > p {
    max-width: 600px;
    color: lightgray;
    font-size: 1.3rem;
    padding-bottom: 30px;
}

#mao-robotica {
    width: 575px;
    padding-right: 25px;
}

#section2 {
    padding-right: 10rem;
    margin: 110px 0 50px 0;
}

#section2-display {
    justify-content: center;
    justify-items: center;
    display: flex;
    gap: 65px;
}

.section-img1 {
    width: 400px;
    border: 1px solid rgba(122, 122, 122, 0.288);
    border-radius: 15px;
}

.section-span1 {
    display: flex;
    align-items: center;
    gap: 165px;
}

.section-span1 > span {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #ff0051;
}

#section2 > div > .section-img1 {
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    transition: padding 0.2s ease;
}

#section2 > div > .section-img1 > .section-span1 > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
    padding: 20px;
}

.section-img1 > img {
    width: 400px;
}

#section2 > div > .section-img1 > p {
    text-align: center;
    color: lightgray;
    font-size: 0.85rem;
    padding: 15px;
}

.section2-action {
    display: flex;
}

.section2-action > a {
    text-align: center;
    color: #ff0051;
    border: 1px solid #ff0051;
    font-weight: 800;
    text-decoration: none;
    width: 50%;
    padding: 10px 15px;
    margin: 15px auto;
    border-radius: 5px;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    font-size: 15px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    font-size: 15px;
    color: #ff0051;
    padding: 11px 25px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}

#titulo-text {
    margin-bottom: 5em;
    width: 400px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

#actions-titulo {
    position: relative;
    bottom: 55px;
}

/* TIPOGRAFIA */

h1 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.6rem;
}

h2 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8rem;
}

p {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.8rem;
}


