@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ephesis&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #070707;
    font-family: "Inter" ,Arial, Helvetica, sans-serif;
}

header { 
    background-color: #070707;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    font-size: 15px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    font-size: 15px;
    color: #ff0051;
    padding: 11px 25px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}

#section1 > div > h1 {
    font-size: 3.5rem;
    max-width: 60%;
    flex-grow: 1;
    padding-bottom: 15px;
}

#section1 > div > p {
    max-width: 60%;
    color: lightgray;
    font-size: 1.3rem;
    padding-bottom: 30px;
}

#mao-robotica {
    width: 35%;
    padding-right: 25px;
}

#section2 {
    padding-right: 10rem;
    margin-top: 14rem;
}

#section2-display {
    justify-content: center;
    justify-items: center;
    display: flex;
    gap: 65px;
}

.section-img1 {
    max-width: 100%;
    border: 1px solid rgba(122, 122, 122, 0.288);
    border-radius: 15px;
}

.section-span1 {
    display: flex;
    width: 20rem;
    align-items: center;
    justify-content: space-around;
}

.section-span1 > span {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #ff0051;
}

#section2 > div > .section-img1 {
    justify-content: center;
    align-items: center;
    transition: padding 0.2s ease;
}

#section2 > div > .section-img1 > .section-span1 > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
    padding: 20px;
}

.section-img1 > img {
    max-width: 100%;
}

#section2 > div > .section-img1 > p {
    text-align: center;
    color: lightgray;
    font-size: 0.85rem;
    padding: 15px;
}

.section2-action1, .section2-action2, .section2-action3 {
    display: flex;
}

.section2-action1 > a, .section2-action2 > a, .section2-action3 > a {
    text-align: center;
    color: #ff0051;
    border: 1px solid #ff0051;
    font-weight: 800;
    text-decoration: none;
    width: 50%;
    padding: 10px 15px;
    margin: 15px auto;
    border-radius: 5px;
    transition: padding 0.3s ease-out, background-color 0.4s ease;
}

.section2-action1 > a:hover, .section2-action2 > a:hover, .section2-action3 > a:hover {
    color: white;
    background-color: #ff0051;
}

#section3 {
    margin-top: 14rem;
    padding: 3rem;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    gap: 110px;
}

#section3 > #section3-conteudo {
    width: 85%;
}

#section3 > div > video {
    border-radius: 10px;
    max-width: 100%;
}

#section3 div > h2 {
    text-align: center;
    font-size: 1.3rem;
    color: #ff0051;
}

#section3 div > h3 {
    text-align: center;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 0.2rem;
}

#section3 div > p {
    text-align: left;
    padding-left: 5rem;
    color: lightgray;
    padding-top: 2.5rem;
    font-size: 1rem;
}

#section4 {
    max-width: 100%;
    margin-top: 16rem;
}

#section4 > div > h3 {
    width: 70%;
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: center;
}

.section4-box {
    max-width: 100%;
    padding: 45px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(119, 119, 119, 0.267);
    border-radius: 25px;
    gap: 150px;
}

.section4-conteudo {
    width: 100%;
    padding-left: 3.5rem;
}

.paragrafo-maior {
    width: 27rem;
}

.section4-conteudo > p {
    font-size: 1rem;
    padding: 0.7rem;
    padding-top: 1.1rem;
}

.section4-conteudo > a {
    width: 60%;
    margin: left auto;
    margin-left: 10px;
    margin-top: 1.5rem;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #ffaa00;
    border: 1px solid #ffaa00;
    border-radius: 5px;
    transition: padding 0.3s ease-out, background-color 0.4s ease;
}

.section4-conteudo > a:hover {
    color: white;
    background-color: #ffaa00;
}

.section4-box > div > img {
    border-radius: 25px;
    max-width: 100%;
}

.paragrafo-maior {
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-weight: 200;
    font-size: 2.2rem;
}

.section4-destaque-p {
    color: #ffaa00;
}

#section4-destaque-p2 {
    color: #0080ff;
}

#section4-destaque-p2 {
    color: #0080ff;
}

#style-blue {
    border: 1px solid #0080ff;
    color: #0080ff;
}

#style-blue:hover {
    color: white;
    background-color: #0080ff;
}

#section5 {
    margin-top: 16rem;
}

#section5 > h3 {
    margin: 0 auto;
    width: 60%;
    font-size: 3rem;
    text-align: center;
}

#container-grid {
    max-width: 60%;
    margin: 100px auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

#container-grid > .item > img {
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgba(119, 119, 119, 0.267);
}

#container-grid  > .item-destaque2 {
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 20px;
    background-color: #38ffb3;
    border-radius: 15px;
}

#container-grid  > .item-destaque3 {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
    background-color: #ff0051;
    border-radius: 15px;
}

.item-destaque2 > p {
    text-align: left;
    color: black;
}

.item-destaque3 > p {
    color: white;
}

#section6-container {
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16rem;
    margin-right: 50px;
    margin-bottom: 16rem;
}

#section6-titulo {
    padding: 60px;
    width: 40%;
}

#section6-titulo > h4 {
    width: 60%;
    margin-bottom: 25px;
    font-size: 2.4rem;
}

#section6-titulo > p {
    width: 53%;
    margin-bottom: 25px;
    font-size: 1rem;
}

#section6-estatisticas {
    padding: 50px;
    width: 55%;
}

#section6-estatisticas > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    text-align: left;
    margin: 17px 10px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    display: flex;
    justify-items: center;
}

#sec6-item1 {
    color: black;
    border-radius: 5px;
    padding: 13px 30px;
    width: 76%;
    background-color: #03FF88;
}

#sec6-item2 {
    width: 57%;
    text-align: left;
}

#sec6-item3 {
    width: 46%;
}

#sec6-item4 {
    width: 34%;
}

#sec6-item5 {
    width: 17%;
}

.background {
    color: white;
    border-radius: 5px;
    padding: 13px 30px;
    width: 40%;
    background-color: rgb(65, 65, 65);
}

.porcentagem-destaque {
    color: #03FF88;
    padding: 15px 15px;
}

.porcentagem {
    color: white;
    padding: 15px 15px;
}

#section7-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 135px;
    margin-bottom: 13rem;
    background-color: #1A1A1A;
    border-radius: 15px;
}

#section7-conteudo > h4 {
    width: 35%;
    font-size: 2rem;
    margin-bottom: 15px;
}

#section7-conteudo > p {
    width: 35%;
    font-size: 1rem;
    margin-bottom: 15px;
}

#section7-container > #section7-conteudo2 {
    width: 35%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: white;
    border-radius: 15px;
}

#section7-conteudo2 > #section7-preco {
    height: 87%;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section7-preco > div > p {
    color: black;
    font-size: 1rem;
}

#section7-preco > div > #sec7-preco-destaque {
    font-family: "Bebas Neue", "Inter", Arial, Helvetica, sans-serif;
    font-size: 12rem;
    padding: 15px;
    margin-left: 15px;
}

#section7-preco > div > a {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 10px 100px;
    font-size: 1rem;
    transition: background 0.4s ease, border 0.4s ease, color 0.4s ease;
}

#section7-preco > div > a:hover {
    border: 2px solid black;
    background-color: #FF0051;
    color: black;
    padding: 10px 100px;
    font-size: 1rem;
}

#section7-preco > div > p {
    text-align: center;
    padding-bottom: 20px;
}

div#sec7-assine {
    padding: 20px;
    position: absolute;
    top: 80%;
}

div#sec7-plano12meses > p {
    padding-left: 25px;
    width: 80%;
    text-align: left;
}

#section8-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    min-height: 1150px;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.6)), url("../img/abstract-plexus-blue-geometrical-shapes-connection-ai-generated-image.jpg") center  no-repeat;
    background-size: cover;
    margin-bottom: 14rem;
}

#section8-atendimento {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: 100px;
}

#section8-atendimento > h4 {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    width: 80%;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 2.8rem;
}

#section8-atendimento > p {
    padding-top: 10px;
    width: 50%;
    font-weight: 400;
    font-size: 1.2rem;
}

#section8-atendimento > #section8-links {
    margin-top: 38px;
}

#section8-atendimento > div > a {
    margin: 12px;
    padding: 12px 50px;
    color: white;
    text-decoration: none;
}  

#section8-ver-demonstracao {
    border: 1.5px solid white;
    transition: border 0.3s ease;
}

#section8-ver-demonstracao:hover {
    border: 1.5px solid #FF0051;
}

#section8-destaque-link {
    border: 1.5px solid #FF0051;
    background-color: #FF0051;
    color: white;
    transition: background-color 0.3s ease;
}

#section8-destaque-link:hover {
    background-color: #ff005100;
    color: white;
}

#titulo-text {
    margin-bottom: 5em;
    width: 400px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

#actions-titulo {
    position: relative;
    bottom: 55px;
}

/* Celulares */
@media (max-width: 768px) {

    /* HEADER */
    header {
        margin: 0 auto;
        width: 87%;
        height: 125px;
        flex-direction: column;
    }

    #logo {
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5rem;
        color: white;
        text-decoration: none;
        color: #ff0051;
    }

    nav > ul > li {
        margin: 0 auto;
        padding: 3px;
        margin-bottom: 10px;
    }

    nav > ul > li a {
        font-size: 12px;
        padding: 12px 10px;
    }

    .button-header {
        margin: 5px;
        font-size: 12px;
        padding: 10px;
    }

    /* MAIN */

    main {
        margin-top: 100px;
    }

    #mao-robotica {
        width: 100%;
        padding-left: 50px;
    }

    #section1 {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }

    #section1 > div > h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        max-width: 100%;
    }

    #section1 > div > p {
        margin: 0 auto;
        text-align: center;
        max-width: 85%;
        color: lightgray;
        font-size: 1rem;
        padding-bottom: 30px;
        padding-top: 15px;
    }

    #section1 > div > #button-section1 {
        display: flex;
        justify-content: center;
    }

    .button-header2 {
        font-size: 11.5px;
        color: white;
        padding: 11px 15px;
        margin: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0;
        text-decoration: none;
        transition: color 0.3s ease-in-out, border 0.3s ease;
    }

    .button-header2:hover {
        color: #FF0051;
        border: 1px solid #FF0051;
    }

    .destaque2 {
        background-color: #FF0051;
        color: white;
        border: 1px solid #FF0051;
        transition: background 0.3s ease, border 0.3s ease;
    }

    .destaque2:hover {
        color: black;
        border: 1px solid white;
        background-color: white;
    }

    #section2 {
        margin: 0 auto;
        margin-top: 14rem;
    }

    #section2-display {
        min-width: 350px;
        flex-direction: column;
        gap: 100px;
    }

    .section2-action1 > a, .section2-action2 > a, .section2-action3 > a {
        border-radius: 0;
    }

    #section3 {
        margin: 250px auto;
        width: 75%;
        padding: 3rem;
        flex-direction: column;
    }

    #section3 > #section3-conteudo {
        margin: 0 auto;
    }

    #section3 > #section3-video {
        margin: 0 auto;
        width: 100%;
    }

    #section3 > div > video {
        border-radius: 10px;
    }

    #section3 div > h2 {
        font-size: 1.1rem;
        padding-bottom: 5px;
    }

    #section3 div > h3 {
        text-align: center;
        font-size: 2.9rem;
        color: white;
        margin-bottom: 0.2rem;
    }

    #section3 div > p {
        margin: 25px auto;
        width: 100%;
        text-align: left;
        color: lightgray;
        padding-top: 2.5rem;
        font-size: 1rem;
        padding-right: 0;
        padding-left: 0;
    }

}

/* TIPOGRAFIA */

h1, h2 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.6rem;
}

h3, h4, h5 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8rem;
}

p {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: lightgray;
    font-size: 0.8rem;
}


